* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #222831;
  /* background-image: url("https://www.transparenttextures.com/patterns/cubes.png"); */
  color: #EEEEEE;
  padding: 16px;
}

.h1Main,
.pMain {
  text-align: center;
}

.h1Main {
  margin: 5px;
}

container {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  margin: 10px;
  /* padding: auto; */
}

h2 {
  margin: 5px;
}

input[type=text] {
  background-color: #222831;
  color: #EEEEEE;
  border: 0px;
  border-bottom: 1px solid #EEEEEE;
}

button,
input,
p {
  margin: 2px;
}